/*
	Accordion List
*/
dl.accordion {
	margin : 0 0 1em 0;
	* {
		box-sizing: border-box;
	}
	dt {
		padding: 0 1rem;
		margin: 0 0 0.3rem;
		line-height: 3rem;
		background-color : $color-passive;
		color : #fff !important;
		cursor : pointer;
		display : block;
		font-weight : normal;
		overflow : visible;
		text-decoration : none !important;
	}
	dt:hover {
		background-color : $color-hover;
	}
	dt.accordion_active, dt:hover {
		background-color : $color-active;
	}
	dt.accordion_passive, dt.accordion_active {
		cursor : pointer;
	}
	dd {
		padding: 1rem 0;
		margin: 0;
		transition-property: all;
		transition-duration: 0.3s;
		transition-timing-function: ease;
		display : block;
		overflow : hidden;
		h3, p {
			margin: 0 0 1rem;
		}
		img.left {
			margin: 0 1rem 1rem 0;
			float : left;
		}
		img.right {
			margin: 0 0 1rem 1rem;
			float : right;
		}
		p {}
	}
	dd.accordion_closed {
		padding: 0;
		max-height : 0;
		padding : 0;
		visibility : hidden;
	}
	dd.accordion_open {
		padding: 1rem 0;
		max-height : 1000px;
		visibility : visible;
	}
}
